.title-header {
    width: 100%;
    text-align: center;
    background-color: rgb(105, 180, 6);
}

h1 {
    color: white;
    padding: 10px;
}

.city-container {
    background-color: rgb(185, 185, 185);
    padding-left: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    
}

.city-btn {
    background-color: white;
    width: 100%;
    margin: 0 0 10px 0;
    box-shadow: 0 0 2px 2px;
}

.city-display {
    width: 100%;
    border: 1px solid #eceff1;
    box-shadow: rgba(21, 41, 56, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    padding: 10px;
}

#future-weather-container {
    width: 100%;
    padding: 10px;
}
.future-info {
    background-color: rgb(12, 82, 3);
    color: white;
    box-shadow: 0 0 5px 2px;
    margin: 5px;
}
.uv.btn {
    width: 50px;
}

.safe-uv {
    background-color: red;
}

.warning-uv {
    background-color: yellow;
}

.danger-uv {
    background-color: orange;
}

.big-danger-uv {
    background-color: darkmagenta;
}

.panic-uv {
    background-color: pink;
}